/****************** MIXINS ***********************/

@mixin escritorio {
    @media screen and (min-width: #{$escritorio}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin boton ($fondo, $letra){
    background-color: $fondo;
    color: $letra;
    box-shadow: $sombra;
    padding: 0.5rem;
    font-family: $fuenteBoton;
    margin-bottom: 0.5rem;
}

